/CameraModule/Faces_dataset
/CameraModule/Raw_Images
/CameraModule/CapturedImages
/CameraModule/recognized_persons.txt
/RouteDatabase
/RFID
TextToSpeach/EN/section_A_options.txt
TextToSpeach/EN/section_B_options.txt
TextToSpeach/EN/section_C_options.txt
TextToSpeach/RO/section_A_options.txt
TextToSpeach/RO/section_B_options.txt
TextToSpeach/RO/section_C_options.txt
CameraModule/faces_csv.txt
CameraModule/recognized_persons.txt
VisionVoyagerGUI/DataCollection/Logs
TextToSpeach/RO/option2.txt
TextToSpeach/EN/option2.txt
CameraModule/image_eu.png
CameraModule/image_t.png
TextToSpeach/language.txt
VisionVoyagerGUI/DataCollection/RoutesData.xlsx
Doxygen__Documentation
build